.rt_room_slider-btn-wrapper {
    .nav-btn {
            border-radius: 0 20px 20px 0;
            background: var(--color-primary);
            color: var(--color-white);
            width: 40px;
            height: 40px;
            z-index: 2;
            &::after {
                font-size: 14px;
            }
            &.swiper-button-prev {
                left: 0;
            }
            &.swiper-button-next {
                right: 0;
                border-radius: 20px 0px 0px 20px;
            }
    }
}
.room_slider-inner-wrapper {
    height: max-content;
}
.rt_room_slider {
    &.eshb-item-grid {
            .all-features {
                margin-top: 20px;
                display: flex;
                column-gap: 5px;
                flex-wrap: wrap;
                .feature {
                    font-size: 14px;
                    position: relative;
                    display: inline-block;
                    margin-bottom: 6px;
                    background: #ab896526;
                    color: var(--color-body);
                    padding: 2px 10px;
                    i {
                        color: var(--color-primary);
                    }
                }
            }
            .desc {
                margin-top: 20px;
                color: var(--color-body);
            }
        &.style1 {
            gap: unset;
            .grid-item {
                border-radius: 50% 50% 0 0;
                overflow: hidden;
            }
        }
        &.style2 {
            .grid-item {
                border-radius: 0;
                .hover-bg-one {
                    background: #00a8be;
                }
                .hover-bg-two {
                    background: linear-gradient(180deg, rgba(23, 23, 23, 0) 0%, rgba(23, 23, 23, 1) 100%);
                }
            }
        }
        &.style3 {
            .grid-item {
                border-radius: 0;
                .hover-bg-two {
                    background: linear-gradient(180deg, rgba(23, 23, 23, 0) 0%, rgba(23, 23, 23, 1) 100%);
                }
            }
        }
        &.style4 {
            .grid-item {
                border-radius: 0;
                .item-inner {
                    .details-info {
                        background: rgba(255, 255, 255, .15);
                        backdrop-filter: blur(10px);
                        padding-top: 1rem;
                        padding-bottom: 1rem;
                        margin-bottom: 0;
                    }
                }
                
            }
        }
    }
}



