.eshb-booking-form-block-wrapper .eshb-booking {
    .eshb-booking-form {
        background-color: var(--eshb-bkf-bg, inherit);
        padding-top: var(--eshb-bkf-pt, 35px);
        padding-right: var(--eshb-bkf-pr, 40px);
        padding-bottom: var(--eshb-bkf-pb, 35px);
        padding-left: var(--eshb-bkf-pl, 40px);
        margin-top: var(--eshb-bkf-mt, 0);
        margin-right: var(--eshb-bkf-mr, 0);
        margin-left: var(--eshb-bkf-ml, 0);
        box-shadow: var(--eshb-bkf-box-shadow);
        border-radius: var(--eshb-bkf-bt) var(--eshb-bkf-br) var(--eshb-bkf-bl) var(--eshb-bkf-br);

        @media (max-width: 782px) {
            width: unset;
            padding: 30px 15px;
        }

        &:hover {
            background-color: var(--eshb-bkf-bg-hover, inherit);
            box-shadow: var(--eshb-bkf-box-shadow-hover, inherit);
        }

        .eshb-form-group.form-title-wrapper {

            h3,
            h4,
            .pricing {
                color: var(--eshb-bkf-form-title-color);
            }

            h3 {
                color: var(--eshb-bkf-form-title-color);

                &:hover {
                    color: var(--eshb-bkf-form-title-color-hover, var(--eshb-bkf-form-title-color));
                }
            }
        }

        .service-quantity-selector.show-dropdown {
            background-color: var(--eshb-bkf-bg, inherit) !important;
        }

        .eshb-form-group {
            h6.field-label {
                color: var(--eshb-bkf-field-label-color);
                font-size: var(--eshb-bkf-fl-fs, inherit);
                font-weight: var(--eshb-bkf-fl-fw, inherit);
                line-height: var(--eshb-bkf-fl-lh, inherit);
                text-transform: var(--eshb-bkf-fl-tt, inherit);
                letter-spacing: var(--eshb-bkf-fl-ls, inherit);

                &:hover {
                    color: var(--eshb-bkf-field-label-color-hover, var(--eshb-bkf-field-label-color));
                }
            }

            h3.field-label {
                color: var(--eshb-bkf-field-group-title-color);
                font-size: var(--eshb-bkf-field-group-title-fs, inherit);
                font-weight: var(--eshb-bkf-field-group-title-fw, inherit);
                line-height: var(--eshb-bkf-field-group-title-lh, inherit);
                text-transform: var(--eshb-bkf-field-group-title-tt, inherit);
                letter-spacing: var(--eshb-bkf-field-group-title-ls, inherit);

                &:hover {
                    color: var(--eshb-bkf-field-group-title-color-hover, var(--eshb-bkf-field-group-title-color));
                }
            }

            .form-control {
                border-radius: var(--eshb-bkf-br-tl) var(--eshb-bkf-br-tr) var(--eshb-bkf-br-br) var(--eshb-bkf-br-bl);
            }

            .form-control,
            .de-number input {
                color: var(--eshb-bkf-field-text-color);
                font-size: var(--eshb-bkf-ft-fs, inherit);
                font-weight: var(--eshb-bkf-ft-fw, inherit);
                line-height: var(--eshb-bkf-ft-lh, inherit);
                text-transform: var(--eshb-bkf-ft-tt, inherit);
                letter-spacing: var(--eshb-bkf-ft-ls, inherit);

                &:hover {
                    color: var(--eshb-bkf-field-text-color-hover, var(--eshb-bkf-field-text-color));
                }
            }

            .dropdown-arrow {
                color: var(--eshb-bkf-field-text-color);
            }

            .d-plus {
                font-size: var(--eshb-bkf-pm-btn-fs, inherit);
            }

            .d-minus::before {
                width: var(--eshb-bkf-pm-btn-fs, inherit);
            }

            .d-plus,
            .d-minus {
                background-color: var(--eshb-bkf-pm-btn-bg-color);
                color: var(--eshb-bkf-pm-btn-text-color);
                font-weight: var(--eshb-bkf-pm-btn-fw, inherit);
                line-height: var(--eshb-bkf-pm-btn-lh, inherit);
                text-transform: var(--eshb-bkf-pm-btn-tt, inherit);
                letter-spacing: var(--eshb-bkf-pm-btn-ls, inherit);
                padding-top: var(--eshb-bkf-pm-btn-pt, 0);
                padding-right: var(--eshb-bkf-pm-btn-pr, 0);
                padding-bottom: var(--eshb-bkf-pm-btn-pb, 0);
                padding-left: var(--eshb-bkf-pm-btn-pl, 0);

                &:hover {
                    background-color: var(--eshb-bkf-pm-btn-bg-color-hover, var(--eshb-bkf-pm-btn-bg-color));
                    color: var(--eshb-bkf-pm-btn-text-color-hover, var(--eshb-bkf-pm-btn-text-color));
                }
            }
        }

        .submition-wrapper .eshb-form-submit-btn {
            background-color: var(--eshb-bkf-submit-btn-bg-color);
            border-color: var(--eshb-bkf-submit-btn-bg-color);
            color: var(--eshb-bkf-submit-btn-text-color);
            font-weight: var(--eshb-bkf-submit-btn-fw, inherit);
            line-height: var(--eshb-bkf-submit-btn-lh, inherit);
            text-transform: var(--eshb-bkf-submit-btn-tt, inherit);
            letter-spacing: var(--eshb-bkf-submit-btn-ls, inherit);
            padding-top: var(--eshb-bkf-submit-btn-pt, 0);
            padding-right: var(--eshb-bkf-submit-btn-pr, 0);
            padding-bottom: var(--eshb-bkf-submit-btn-pb, 0);
            padding-left: var(--eshb-bkf-submit-btn-pl, 0);
            margin-top: var(--eshb-bkf-submit-btn-mt, 0);
            margin-right: var(--eshb-bkf-submit-btn-mr, 0);
            margin-bottom: var(--eshb-bkf-submit-btn-mb, 0);
            margin-left: var(--eshb-bkf-submit-btn-ml, 0);
            font-size: var(--eshb-bkf-submit-btn-fs, inherit);
            font-weight: var(--eshb-bkf-submit-btn-fw, inherit);
            line-height: var(--eshb-bkf-submit-btn-lh, inherit);
            text-transform: var(--eshb-bkf-submit-btn-tt, inherit);
            letter-spacing: var(--eshb-bkf-submit-btn-ls, inherit);
            border-radius: var(--eshb-bkf-submit-btn-tr, 0) var(--eshb-bkf-submit-btn-tl, 0) var(--eshb-bkf-submit-btn-br, 0) var(--eshb-bkf-submit-btn-bl, 0);

            &:hover {
                background-color: var(--eshb-bkf-submit-btn-bg-color-hover, var(--eshb-bkf-submit-btn-bg-color));
                border-color: var(--eshb-bkf-submit-btn-bg-color-hover, var(--eshb-bkf-submit-btn-bg-color));
                color: var(--eshb-bkf-submit-btn-text-color-hover, var(--eshb-bkf-submit-btn-text-color));
            }
        }

        .extra-services-wrapper {

            label,
            .price {
                color: var(--eshb-bkf-es-color);
                font-size: var(--eshb-bkf-es-fs, inherit);
                font-weight: var(--eshb-bkf-es-fw, inherit);
                line-height: var(--eshb-bkf-es-lh, inherit);
                text-transform: var(--eshb-bkf-es-tt, inherit);
                letter-spacing: var(--eshb-bkf-es-ls, inherit);
                margin-top: var(--eshb-bkf-es-mt, 0);
                margin-right: var(--eshb-bkf-es-mr, 0);
                margin-bottom: var(--eshb-bkf-es-mb, 0);
                margin-left: var(--eshb-bkf-es-ml, 0);


                &:hover {
                    color: var(--eshb-bkf-es-color-hover, var(--eshb-bkf-es-color));
                }
            }

            .eshb-styled-checkbox {
                border-radius: var(--eshb-bkf-service-checkbox-br);

                &::after {
                    border-radius: var(--eshb-bkf-service-checkbox-br);
                }
            }

            .service-quantity-selector .de-number span.quantity-wrapper {
                border-radius: var(--eshb-bkf-service-qty-br);
            }
        }

    }
}