.eshb-accomodation-gallery-block-wrapper {
    .accomodation-gallery {

        .swiper-slide,
        .swiper-slide img {
            border-radius: var(--eshb-acmglr-item-border-radius, 0px);
        }

        .swiper-button-prev::after,
        .swiper-button-next::after {
            background-color: var(--eshb-acmglrnv-bg);
            color: var(--eshb-acmglrnv-color);
            padding: var(--eshb-acmglrnv-pd, 5px 0);

            &:hover {
                background-color: var(--eshb-acmglrnv-bg-hover, var(--eshb-acmglrnv-bg));
                color: var(--eshb-acmglrnv-color-hover, var(--eshb-acmglrnv-color));
            }
        }

        .swiper-button-prev::after {
            border-radius: var(--eshb-acmglrnv-prev-btn-border-radius, 0px 20px 20px 0px);
        }

        .swiper-button-next::after {
            border-radius: var(--eshb-acmglrnv-next-btn-border-radius, 20px 0px 0px 20px);
        }

        .swiper-pagination-bullet {
            background-color: var(--eshb-acmglrnv-dots-bg);
            color: var(--eshb-acmglrnv-dots-color);
            width: var(--eshb-acmglrnv-dots-size, 8px);
            height: var(--eshb-acmglrnv-dots-size, 8px);
            border-radius: var(--eshb-acmglrnv-dots-border-radius, 50%);

            &:hover {
                background-color: var(--eshb-acmglrnv-dots-bg-hover, var(--eshb-acmglrnv-dots-bg));
                color: var(--eshb-acmglrnv-dots-color-hover, var(--eshb-acmglrnv-dots-color));
            }
        }
    }
}