.accomodation-gallery{
    .swiper-wrapper {
        height: auto;
    }
    img {
        height: 600px;
        width: 100%;
        object-fit: cover;
    }
    .swiper-button-prev,
    .swiper-button-next{
        width: 40px;
        height: auto;
        line-height: 40px;
        &::after {
            display: block;
            color:#ffffff;
            padding:5px 0;
            font-size:14px;
            width: 100%;
            height: 100%;
            line-height: 40px;
            background: var(--eshb-primary-color);
            text-align: center;
        }
    }
    .swiper-button-prev{
        left: 0px;
        &::after {
            border-radius:0 20px 20px 0;
        }
    }
    .swiper-button-next{
        right: 0px;
        &::after {
            border-radius:20px 0 0 20px;
            }
    }
}
