body.single .accomodation-gallery {
    .swiper-wrapper {
        height: auto;
    }

    img {
        height: 600px;
        width: 100%;
        object-fit: cover;

        @media (max-width: 782px) {
            height: 450px;
        }
    }

    .swiper-button-prev,
    .swiper-button-next {
        width: 40px;
        height: 50px;
        line-height: 40px;
        display: flex;
        padding: 5px 0;
        background: var(--eshb-primary-color);
        text-align: center;

        .swiper-navigation-icon {
            display: none;
        }

        &::after {
            color: #ffffff;
            font-size: 18px;
            background: none !important;
        }
    }

    .swiper-button-prev {
        border-radius: 0 20px 20px 0;
        left: 0px !important;

        &::after {
            margin-left: -5px;
        }
    }

    .swiper-button-next {
        border-radius: 20px 0 0 20px;
        right: 0px !important;

        &::after {
            margin-right: -5px;
        }
    }
}