.accomodation-gallery {
    .swiper-wrapper {
        height: auto;
    }

    img {
        height: 600px;
        width: 100%;
        object-fit: cover;

        @media (max-width: 782px) {
            height: 450px;
        }
    }

    .swiper-button-prev,
    .swiper-button-next {
        width: 40px;
        height: 50px;
        line-height: 40px;
        display: flex;
        color:#ffffff;
        padding:5px 0;
        font-size:14px;
        line-height: 40px;
        background: var(--eshb-primary-color);
        text-align: center;
        .swiper-navigation-icon {
            height: 20px;
        }
        &::after {
            display: none;
        }
    }
    .swiper-button-prev{
        border-radius:0 20px 20px 0;
        left: 0px !important;
        &::after {
            display: none;
        }
    }
    .swiper-button-next{
        border-radius:20px 0 0 20px;
        right: 0px !important;
        &::after {
            display: none;    
        }
    }
}