/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.eshb-accomodation-slider-block-wrap {
	.grid-item {
		&:hover {
			background-color: var(--eshb-agi-bg-hover) !important;
		}

		&:hover {
			.hover-bg-one {
				background: var(--eshb-agi-overlay-bg-hover, '--eshb-primary-color') !important;
			}

			.hover-bg-two {
				background: var(--eshb-agi-overlay-bg-two-hover, '--eshb-primary-color') !important;
			}
		}

		.capacities {
			.capacity {
				&:hover {
					color: var(--eshb-agid-cap-item-color-hover) !important;
				}
			}
		}

		.item-inner {
			.details-info {
				.p-title {

					&:hover {
						color: var(--eshb-agit-color-hover) !important;
					}
				}

				.desc {
					&:hover {
						color: var(--eshb-agid-color-hover) !important;
					}
				}
			}

			.pricing-info {
				.price {
					&:hover {
						color: var(--eshb-agip-color-hover) !important;
					}

					.pricing-perodicity {
						&:hover {
							color: var(--eshb-agip-periodicity-color-hover) !important;
						}
					}
				}
			}
		}

		.details-btn {
			&:hover {
				color: var(--eshb-agib-color-hover) !important;
			}
		}
	}
}